body {
    font-family: 'Comic Sans MS', 'Zen Maru Gothic';
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: left;
    font-size: 10px;
    background: white;
}

h1 {
    font-size: 2em;
    color: black;
    margin: 10px;
}

h2 {
    font-size: 1.3em;
    color: black;
    margin: 10px;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}

p {
    font-size: 0.8em;
    color: gray;
    text-align: left;
    margin: 5px;
}

.social-icons, .skill-icons {
    display: flex;
    flex-wrap: wrap;  /* 画面が狭い場合は折り返す */
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.skill img {
    max-width: 50px;
    height: auto;
}

.skill-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 625px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.portfolio-card {
    border-radius: 10px;
    transition: transform 0.3s;
    background: #fff;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.portfolio-social-icons a img {
    transition: transform 0.2s;
}

.portfolio-social-icons a:hover img {
    transform: scale(1.2);
}

/* レスポンシブ対応 */
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    .card {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.8em;
    }

    .skill img {
        max-width: 40px;
    }
}
