body {
    font-family: 'Comic Sans MS', 'Zen Maru Gothic';
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100%;
    background: clear;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 15px;
    font-size: 10px;
}

h1 {
    font-size: 2em;
    color: black;
    margin: 10px;
}

h2 {
    font-size: 1.3em;
    color: black;
    margin: 10px;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}

p {
    font-size: 0.8em;
    color: gray;
    text-align: left;
    margin: 5px;
}

.social-icons {
    display: flex;
    gap: 10px; /* アイコン間の間隔 */
    justify-content: center; /* 中央揃え */
    margin-top: 10px;
}

.skill-icons {
    display: flex;
    gap: 10px; /* アイコン間の間隔 */
    justify-content: center; /* 中央揃え */
    margin-top: 10px;
}

.skill {
    display: flex;
    flex-direction: column; /* 縦並びにする */
    align-items: center; /* 中央揃え */
    text-align: center;
    gap: 5px; /* 要素間の余白 */
}

.skill-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    align-items: center;
    width: 625px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 20px;
}